body {
    background-color: lightskyblue;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
ul, ol, table{
    list-style-position: inside;
    display: inline-block;
    text-align: left;
}

/* This Shows that #core-value element is block level */
#core-values {
    border: 1px solid crimson;
}
h1 {
    color: darkmagenta;
}
#core-values li {
    color: darkblue;
}