:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
main {
    margin: auto;
}
aside {
    margin:auto;
}
ul {
    list-style: none;
    display: inline-block;
}
a {
    color: var(--link-color);
}

.top-nav {
    background: var(--light-bg);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-item {
    display: inline-block;
    padding: 1.5em;
}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
    align-self: center;
}
.nav-link:hover {
    color: var(--link-color);
}
.profile {
    background: var(--light-bg);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height:6em;
    z-index: 0;
}
.profile-header {
}
.profile-image {
    z-index: 1;

}
.profile-form {
    z-index: 0;
    margin-right: 1em;
}
.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.profile-details {
    margin:2em;
    align-self: flex-start;
}
.timeline {
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    justify-content: space-evenly;
    margin:1em;
    flex-grow: 1;
}
.media {
    display:flex;
    flex-flow: row wrap;
    margin:1px;
}

.timeline .media {
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding: 1em;
    border: #3B94D9 solid .5px;
    margin: 1px;
    border-radius: 5px;
}
.who-to-follow {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 1em;
    height: auto;
    width: 15em;
}

.who-to-follow .media {
    border: #3B94D9 solid 1px;
    border-radius: 5px;
    background-color: white;
    min-height: 12em;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: .5em;
    padding: 1em;
    min-width: auto;
}
.media-body {
    display: flex;
    flex-flow: column wrap;
    align-self: flex-start;
    margin: .5em;
}
h3 {
    font-size: 1.35em;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
}
 small {
    align-self: center;
}
.timeline .media-image {
    align-self: center;
    margin-right: 1em;
}
.who-to-follow .media-image {
    align-self: center;
    width: 40%;
    height: auto;
    order: -1
}

.who-to-follow .btn {
    margin: .5em;
    background-color: #3B94D9;
    color: white;
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}